version: "3.8"
services:
  vault:
    build: .
    image: image
    pull_policy: never
    container_name: "vault"
    restart: always
    command: uvicorn main:app --host 0.0.0.0 --port 80 --log-config=logger.yaml
    expose:
      - "80"
    networks:
      - traefik-network
      - mysql-network
      - mosquitto-network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fastapi.rule=Host(`domain.com`)"
      - "traefik.http.routers.fastapi.tls=true"
      - "traefik.http.routers.fastapi.tls.certresolver=letsencrypt"
networks:
  traefik-network:
    external: true
  mysql-network:
    external: true
  mosquitto-network:
    external: true
